<html>
  <head>
    <meta charset='utf-8' />
    <title class='title'>My Library</title>

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/main.css' />

  </head>
  <body>
    <header>
    {{>header}}
  </header>
    <div class='app'>
      {{{body}}}
    </div>

    <footer>
      {{>footer}}
    </footer>
  </body>
</html>