<nav>
  <a class='home-link' href='/'>Home</a>
</nav>
<div class='book-details'>

  <img class='book-img' src='{{image}}' alt='{{title}}' />
  <h2>Title: {{title}}</h2>
  <h2>Author: {{author}}</h2>

  <button class='edit-btn'>EDIT</button>
</div>