<aside class='aside-container'>

  <form class='form' action='/search/:{{id}}' method='post'>
    <input class='input' ype='text' name='searchTitle' placeholder='Title...' />
    <button class='search-btn'>search</button>
  </form>

</aside>
<div class='container'>
  {{#each books}}
    <div class='book-list'>
      <a href='/books/{{id}}'><img
          class='book-img'
          src='{{image}}'
          alt='{{title}}'
        />
      </a>
    </div>
  {{/each}}
</div>