<aside class='aside-container'>

  <form class='form' action='/' method='post'>
    <input
      class='input'
      type='search'
      name='searchTerm'
      placeholder='Title or author...'
    />
    <button class='search-btn'>search</button>
  </form>

</aside>
<div class='container'>
  {{#each books}}
    <div class='book-list'>
      <a href='/{{id}}'><img class='book-img' src='{{image}}' alt='{{title}}' />
      </a>
    </div>
  {{/each}}
</div>