* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecfdf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: 3rem;
  padding: 0.4rem;
}
.header {
  background-color: #064e3b;
  margin-bottom: 2rem;
  height: 12rem;
}

.title {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  color: #ecfdf5;
}

.book-img {
  width: 23rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

.book-img:hover {
  opacity: 0.4;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.home-link {
  font-size: 3rem;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  color: #064e3b;
  text-decoration: none;
}

.book-details {
  display: grid;
  place-items: center;
  padding: 1rem;
}

.edit-btn {
  padding: 0.4rem;
  width: 8rem;
  border: 0.2rem solid #064e3b;
  border-radius: 0.5rem;
}

.edit-btn:hover {
  background-color: #064e3b;
  color: #ecfdf5;
}

.footer {
  background-color: #064e3b;
  width: 100%;
  height: 4rem;
  margin-top: auto;
  display: grid;
  place-items: center;
}
.footer-span {
  color: #ecfdf5;
  font-size: 2rem;

  /* margin: auto; */
}
