* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecfdf5;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: 3rem;
  padding: 0.4rem;
}

.title {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  color: #064e3b;
}

.book-img {
  width: 25rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.home-link {
  font-size: 3rem;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  color: #064e3b;
  text-decoration: none;
}

.book-details {
  display: grid;
  place-items: center;
  padding: 1rem;
}
