* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecfdf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: 3rem;
  padding: 0.4rem;
}

label,
input {
  /* margin: auto; */
  color: #064e3b;
  text-align: center;
}

.app {
  flex: 1;
}

.header {
  background-color: #064e3b;
  margin-bottom: 2rem;
  height: 16rem;
}

.title {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  color: #ecfdf5;
}

.book-img {
  width: 23rem;
  border-radius: 1.5rem;
  padding: 1rem;
  /* margin: a
  uto; */
}

.book-img:hover {
  opacity: 0.4;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.title-link {
  font-size: 8rem;
  display: grid;
  place-items: center;
  color: #ecfdf5;
  text-decoration: none;
  margin: 1rem;
}

.book-details {
  display: grid;
  place-items: center;
  padding: 1rem;
  text-align: center;
}

.book-details > h2 {
  font-size: 2rem;
  font-family: 'Zen Antique Soft', serif;
  color: #064e3b;
}

.edit-btn {
  font-family: 'Zen Antique Soft', serif;
  padding: 0.4rem;
  width: 8rem;
  border: 0.2rem solid #064e3b;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  color: #064e3b;
}

.edit-btn:hover,
.submit-btn:hover {
  background-color: #064e3b;
  color: #ecfdf5;
}

.submit-btn {
  font-family: 'Zen Antique Soft', serif;
  padding: 0.4rem;
  width: 8rem;
  border: 0.2rem solid #064e3b;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  color: #064e3b;
  margin-top: 1rem;
}

.input {
  width: 30rem;
  height: 3rem;
  border: 3px solid #064e3b;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #ecfdf5;
}

.search-btn {
  height: 3rem;
  border: 3px solid #064e3b;
  border-radius: 0.5rem;
  width: 8rem;
  background-color: #ecfdf5;
}

.search-btn:hover {
  background-color: #064e3b;
  color: #ecfdf5;
}

.footer {
  background-color: #064e3b;
  width: 100%;
  height: 4rem;

  display: grid;
  place-items: center;
}
.footer-span {
  color: #ecfdf5;
  font-size: 2rem;

  /* margin: auto; */
}

.aside-container {
  margin-left: 3rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.form-item {
  font-size: 1.8rem;
  font-family: 'Zen Antique Soft', serif;
  display: block;
  margin-bottom: 1rem;
  height: 2rem;
}
